.results-container {
    background: white;
    border: 3px solid var(--border-dark);
    padding: 30px;
    margin-top: 20px;
    /* Effet papier légèrement de travers */
    border-radius: 15px 5px 15px 5px / 5px 15px 5px 15px;
    box-shadow: 10px 10px 0 var(--secondary);
    animation: slideIn 0.3s ease-out;
}

.result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dashed #ddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.word-title h2 {
    font-family: 'Mv Boli', cursive;
    font-size: 2.5rem;
    margin: 0;
    color: var(--primary);
}

#res-phonetic {
    font-family: 'Quicksand';
    color: #777;
    font-size: 1.1rem;
}

.result-body h3 {
    font-family: 'Mv Boli', cursive;
    font-size: 1.5rem;
    color: var(--border-dark);
    margin-bottom: 10px;
}

.save-btn {
    background: var(--secondary);
    color: white;
    border: 2px solid var(--border-dark);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 3px 3px 0 var(--border-dark);
}

.save-btn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 0 var(--border-dark);
}

@keyframes slideIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}